<div class="container">
    <% if @cart.nil? %>
        <br>
        <h3>Shopping cart is empty</h3>
    <% else %>
        <% @cart.each do |cart| %>
            
        <% end %>
    <% end %>
</div>