<br>
<div class="container">
<%= link_to "Categories",categories_path %>
<% @cat.each do |cat| %>
    <div class="row">
        <div class="col">
            <h3><%= link_to cat.name, category_path(:id => cat.id) %></h3>
        </div>
    </div>
        <br>
<% end %>
</div>