<div class="container">
  <h2>Search Results</h2>
  <%= link_to 'Back', home_index_path %>
  <% if @results.empty? %>
    <p>No search results were found.</p>
  <% end %>
  <%= render 'search' %>
</div>